:root {
  --blue-color: #112b3c;
  --orange-color: #f66b0e;
  --blue-off-color: #205375;
  --white-off-color: #efefef;
  --gray-color: #dddddd;
}
html,
body {
  height: 100%;
  font-family: "Roboto Light", sans-serif;
  background-color: var(--blue-color);
}

/*navbar starts*/
.navbar {
  background-color: var(--blue-color);
}

.navbar .log-out {
  background: none;
  border: solid 1px var(--orange-color);
  transition: 0.5s;
  margin-left: 10px;
}
.navbar .log-out:hover,
.navbar .log-out:active,
.navbar .log-out:focus {
  background: var(--orange-color);
  box-shadow: none;
}

/*navbar ends*/

.login {
  /* height: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 70px;
}

.login .card {
  background-color: rgba(255, 255, 255, 30%);
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 5px;
}

.login .card-header {
  background: none;
}

.login .card-header img {
  width: 100px;
  position: absolute;
  transform: translate(-50px, -60px);
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: 0.5s;
}

.login .card-header img:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 5px;
}

.login .card-header h4 {
  margin-top: 50px;
  font-weight: bolder;
  font-size: 50px;
  color: var(--gray-color);
}

.login .card input {
  outline: none;
  background: none;
  border: solid 1px var(--blue-color);
  border-radius: 10px;
  transition: 0.5s;
  /* height: 30px; */
  color: white;
  box-shadow: none;
}

.login .card .butto {
  background: none;
  border-radius: 15px;
  border: solid 1px var(--blue-color);
  cursor: pointer;
  transition: 0.5s;
  color: var(--blue-color);
  padding: 10px 12px;
}

.login .card .butto:hover,
.login .card .butto:focus,
.login .card .butto:active {
  background: var(--blue-color);
  color: white;
}

/*.login .card .social .btn{*/
/*    background: none;*/
/*    border-radius: 50%;*/
/*    border: solid 1px var(--blue-color);*/
/*    cursor: pointer;*/
/*    transition: 1s;*/
/*    color: var(--blue-color);*/
/*    font-size: 20px;*/
/*}*/

/*.login .card .social .btn:hover,*/
/*.login .card .social .btn:active,*/
/*.login .card .social .btn:focus{*/
/*    background: var(--blue-color);*/
/*    color: white;*/
/*    box-shadow: none;*/
/*}*/

.login .card-footer {
  background: none;
}

/*login form ends*/

.foot {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* height:100vh; */
  background: none;
  margin-top: 70px;
}

footer {
  position: relative;
  width: 100%;
  background-color: var(--orange-color);
  height: 150px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .mn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .mn li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: var(--white-off-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.foot footer .social_icon li a:hover {
  transform: translatey(-10px);
  color: var(--blue-color);
}

.foot footer .mn li a {
  font-size: 16px;
  color: var(--white-off-color);
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

footer .mn li a:hover {
  opacity: 1;
  color: var(--blue-color);
  transform: translatey(-10px);
}

.alertclass {
  text-align: center;
  margin: auto;
}

.search-field .input-group button {
  color: rgb(246, 107, 14);
  border: 1px solid rgb(246, 107, 14);
}

.search-field .input-group button:hover {
  background-color: rgb(246, 107, 14);
  color: white;
  box-shadow: 1px 0 24px 0.25rem rgb(246, 107, 14);
}

.search-field .input-group button:active {
  background-color: rgb(246, 107, 14);
  color: white;
}

.search-field .input-group button:focus {
  background-color: rgb(246, 107, 14);
  color: white;
  box-shadow: 1px 0 24px 0.25rem rgb(246, 107, 14);
}
