
:root{
  --blue-color: #112B3C;
  --orange-color:#F66B0E;
  --blue-off-color:#205375;
  --white-off-color:#EFEFEF;
  --gray-color:#DDDDDD;
}
html,
body{
  height: 100%;
  font-family: 'Roboto Light',sans-serif;
  background-color: var(--blue-color);
}

/*navbar starts*/
.navbar{
  background-color: var(--blue-color);
}



.navbar .log-out{
  background: none;
  border: solid 1px var(--orange-color);
  transition: 0.5s;
  margin-left: 10px;
}
.navbar .log-out:hover,
.navbar .log-out:active,
.navbar .log-out:focus{
  background: var(--orange-color);
  box-shadow: none;
}

/*navbar ends*/

/*login form ends*/

.login{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.login .card{
  background-color: rgba(255,255,255,30%) ;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0,0,0,0.3) 10px 10px 5px;
}

.login .card-header{
  background: none;
}


.login .card-header img{
  width: 100px;
  position:absolute;
  transform: translate(-50px,-60px);
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: 0.5s;
}

.login .card-header img:hover{
  box-shadow: rgba(0,0,0,0.3) 10px 10px 5px;
}

.login .card-header h4{
  margin-top: 50px;
  font-weight: bolder;
  font-size: 50px;
  color: var(--gray-color);
}

.login .card input{
  outline: none;
  background: none;
  border: solid 1px var(--blue-color);
  border-radius: 10px;
  transition: 0.5s;
  height: 30px;
  color: white;
  box-shadow: none;
}


.login .card button{
  background: none;
  border-radius: 15px;
  border: solid 1px var(--blue-color);
  cursor: pointer;
  transition: 0.5s;
  color: var(--blue-color);
}

.login .card button:hover,
.login .card button:focus,
.login .card button:active{
  background: var(--blue-color);
  color: white;
}

/*.login .card .social .btn{*/
/*    background: none;*/
/*    border-radius: 50%;*/
/*    border: solid 1px var(--blue-color);*/
/*    cursor: pointer;*/
/*    transition: 1s;*/
/*    color: var(--blue-color);*/
/*    font-size: 20px;*/
/*}*/

/*.login .card .social .btn:hover,*/
/*.login .card .social .btn:active,*/
/*.login .card .social .btn:focus{*/
/*    background: var(--blue-color);*/
/*    color: white;*/
/*    box-shadow: none;*/
/*}*/

.login .card-footer{
  background: none;
}
/*login form ends*/
/*footer starts*/



footer {
  position: relative;
  width: 100%;
  background-color:rgba(246, 107, 14,50%) ;
  height: 150px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 40px;
}

footer .social_icon,
footer .mn{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .mn li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 2em;
  color: var(--white-off-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translatey(-10px);
  color: var(--blue-color);
}

footer .mn li a{
  font-size: 16px;
  color: var(--white-off-color);
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

.mn li a:hover{
  opacity: 1;
  color: var(--blue-color);
  transform: translatey(-10px);
}

/*Footer ends*/



.alert-successus {
  background: #f66b0e;
  color: white;
  border:1px solid #f66b0e;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: bold;

}

.alert-danger {
  background: #842029;
  color: white;
  border:1px solid #842029;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: bold;

}

.alertclass {
  text-align: center;
  margin: auto;
}

#submit{
  background: none;
    border-radius: 15px;
    border: solid 1px var(--blue-color);
    cursor: pointer;
    transition: 0.5s;
    color: var(--blue-color);
}
