
:root{
    --blue-color: #112B3C;
    --orange-color:#F66B0E;
    --blue-off-color:#205375;
    --white-off-color:#EFEFEF;
    --gray-color:#DDDDDD;
}
body{
    font-family: 'Roboto Light',sans-serif;
    background-color: var(--blue-color);
}

/*navbar starts*/
.navbar{
    background-color: var(--blue-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link .active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--orange-color);
}

.textwhite{
    color: white;
}
.textgold{
    color: #f66b0e;
}

.navbar .team{
    font-size: 20px;
    color: var(--orange-color);
    border-left: var(--orange-color) solid 3px;
}

.navbar .team:hover,
.navbar .team:focus,
.navbar .team:active{
    color: var(--blue-off-color);
}

.navbar .navbar-toggler{
    border: none;
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler :active{
    color: var(--orange-color);
}

.navbar .log-in{
    background: none;
    border: solid 1px var(--orange-color);
    transition: 0.5s;
    margin-left: 10px;
}
.navbar .log-in:hover,
.navbar .log-in:active,
.navbar .log-in:focus{
    background: var(--orange-color);
    box-shadow: none;
}

/* navbar ends*/

/*Landing Starts*/
.landing{
    background: var(--blue-color);
    min-height: 580px;
    
}
.landing h1{
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}
.landing p{
    color: whitesmoke;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}
.landing .calling_btn{
    background: none;
    transform: scale(1.1);
    text-transform: uppercase;
    border: solid 1px var(--orange-color);
    color: whitesmoke;
    
}
.landing .calling_btn:hover,
.landing .calling_btn:focus{
    box-shadow: none;
    background-color: var(--orange-color);
    color: white;
}
.landing .calling_btn:active{
    background-color: red;
}
/*Landing ends*/

/*Services starts*/
.services{
    background:white;
    margin-bottom: 0;
}
.services .srv{
    background: none;
    width: 80%;
    color: white;
    border: none;
}

.services .container .card{
    background: none;
    width: 80%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.services .container .card:hover{
    box-shadow: rgba(0,0,0,0.3) 10px 10px 5px;
    transform: scale(1.1);
}

.services .serv-icon{
    color: var(--blue-color);
    font-size: 50px;
}
.services .title{
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--orange-color);
    font-weight: bolder;
    font-size: 30px;
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color:var(--blue-off-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Services ends*/
/*About starts*/
.about{
    background-color: var(--white-off-color);
    margin-top: 0;
}

.about .Ab{
    width: 90%;
    color: white;
    border: none;
    background: none;
}



.about .main-title .abt-icon{
    color: var(--white-off-color);
    font-size: 50px;
}

.about .main-title .title{
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--orange-color);
    font-weight: bolder;
    font-size: 30px;
}

.about .abt h1{
    color: var(--orange-color);
}
/*About ends*/


.team{
    background-color: var(--blue-color);
}
.team .tm{
    background:none;
    width: 80%;
    border: none;
}
.team .container .card{
    background-color: rgba(255,255,255,30%) ;
    width: 70%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    transition: 0.5s;
}

.team .container .card:hover{
    background-color: rgba(255,255,255,50%) ;
    box-shadow: rgba(0,0,0,0.3) 10px 10px 5px;
    transform: scale(1.1);
    border: none;
}

.team .main-title .abt-icon{
    color: var(--white-off-color);
    font-size: 50px;
}

.team .main-title .title{
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--orange-color);
    font-weight: bolder;
    font-size: 30px;
}

.team .abt h1{
    color: var(--orange-color);
}

.team .abt p{
    color: var(--white-off-color);

}


.team .container .card .card-footer{
    background-color:rgba(246, 107, 14,50%) ;
    border-top: 1px solid var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.team .container .card .card-footer .btn{
    background: none;
    border: solid 1px var(--blue-color);
    color: var(--blue-color);
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.5s;
}

.team .container .card .card-footer .btn:hover,
.team .container .card .card-footer .btn:active{
    background-color: var(--blue-color);
    color: white;
    transform: scale(1.1);
}


/*footer starts*/

legend{
    margin-top: 5%;
    color: white;
    text-align: center;
}

footer{
    position: relative;
    margin-top: 500px;
    width: 100%;
    background-color: rgba(246, 107, 14,50%);
    height: 150px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .mn{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .mn li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: var(--white-off-color);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translatey(-10px);
    color: var(--blue-color);
}

footer .mn li a{
    font-size: 16px;
    color: var(--white-off-color);
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

.mn li a:hover{
    opacity: 1;
    color: var(--blue-color);
    transform: translatey(-10px);
}



.alert-successus {
    background: #f66b0e;
    color: white;
    border:1px solid #f66b0e;
    text-transform: capitalize;
    border-radius: 10px;
    font-weight: bold;

}

.alert-danger {
    background: #842029;
    color: white;
    border:1px solid #842029;
    text-transform: capitalize;
    border-radius: 10px;
    font-weight: bold;

}

.alertclass {
    text-align: center;
    margin: auto;
}

.textwhite{
    color: white;
}
.textgold{
    color: #f66b0e;
}
.textblue{
   color:  #112B3C;
}

.nvisible{
    visibility: hidden;
}
.visible{
    visibility: visible; 
}



/*Footer ends*/