.content {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    max-width: 1400px;
    min-height: 200px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    /* position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%); */
    

}
.content-table thead tr {
    background-color: #f66b0e;
    color: white;
    text-align: left;
    font-weight: bold;
    border: 2px solid #f66b0e;

}

.content-table th,
.content-table td{
    padding: 12px 15px;
    color: white;
    border: 2px solid #f66b0e;
}

/* .content-table tbody tr {
    border: 2px solid #f66b0e;
    
} */

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 10px;
    margin-left: 15px;
  }
  #nameInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    margin-top: 1%;
    max-height: 3%;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 82%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 10px;
    
  }
  #specialityInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px;
     /* Add some space below the input */
    border-radius: 10px;
  }

  #ssnInput{
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px;
     /* Add some space below the input */
    border-radius: 10px;
  }
  #dateInput{
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    
    margin-left: 2%;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px;
     /* Add some space below the input */
    border-radius: 10px;
  }
  