{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 textgold">{{ legend }}</legend>
            {% if exist %}
            <div class="col-md-6 alertclass">
                
                <div class="alert alert-success">The report has been added, the patient is not regestered <br>
                    Do you want to register the patient now?
                </div>
                

            {% endif %}
              </div>
            <div class="form-group textwhite">
                {{ form.ssn.label(class="form-control-label") }}
                {% if form.ssn.errors %}
                    {{ form.ssn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ssn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ssn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group textwhite">
                {{ form.statement.label(class="form-control-label") }}
                {% if form.statement.errors %}
                    {{ form.statement(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.statement.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.statement(class="form-control form-control-lg") }}
                {% endif %}


                {{ form.images.label(class="form-control-label") }}
                {% if form.images.errors %}
                    {{ form.images(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.images.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.images(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}