{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4 legend align-text-center">Doctors Table</legend>
        <div class="content">
                <div class="content-table dtable">


                    <div class="scrollme">
                        <div class="row justify-content-center" >
                        <input type="text" id="nameInput" onkeyup="nameF()" style="margin: 1vh;" placeholder="Search for names..">
                    </div>
                        <div class="row justify-content-center" >
                            <input type="text" id="specialityInput" onkeyup="speciality()" placeholder="Search for Department..">
                            <input type="text" id="myInput" onkeyup="ssn()" placeholder="Search for SSN..">
                        </div>
                        <table id="myTable" class="table table-bordered table-responsive" >
                            <thead>
                                <tr class="header">
                                    
                                    <th scope="col">SSN</th>
                                    <th scope="col">Name</th>
                                    
                                    <th scope="col" >Data of birth</th>
                                    <th scope="col" >Gender</th>
                                    <th scope="col" >speciality</th>
                                    <th scope="col" >phone</th>
                                    <th scope="col" >Hiring date</th>
                                    <th scope="col" >Number of reports</th>
                                    <th scope="col" >Schedule Shifts</th>
                                    <th scope="col" ></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                        {% for doctor, number_of_reports in table %}
                            
                                <tr class='clickable-row' data-href="{{ url_for('profile', doctor_id=doctor.id) }}">
                                    
                                    <td>{{doctor.ssn}}</td>
                                    
                                    {% if doctor.Sname %}
                                    <td>{{doctor.Fname}}  {{doctor.Sname}}  {{doctor.Lname}}</td>
                                    {% else %}
                                    <td>{{doctor.Fname}}  {{doctor.Lname}}</td>
                                    {% endif %}
                                    
                                    <td>{{doctor.birth_date.strftime('%Y-%m-%d')}}</td>
                                    <td>{{doctor.gender}}</td>
                                    <td>{{doctor.speciallity}}</td>
                                    <td>{{doctor.phone}}</td>
                                    <td>{{doctor.hiring_date.strftime('%Y-%m-%d')}}</td>
                                    <td>{{number_of_reports}}</td>
                                    <td><a class="calling_btn btn rounded-pill main-btn " style="color:white ;" href="{{url_for('update_shift',doctor_id=doctor.id)}} "> <i class="fa-solid fa-paste"></i> Schedule</a></a></td>
                                    <td><a class="calling_btn btn rounded-pill main-btn " style="color:white ;" href="{{url_for('profile',doctor_id=doctor.id)}} "> <i class="fa-solid fa-user"></i> Profile</a></a></td>

                                
                                {% endfor %}
                            </tbody>
                            
                        </table>
                        <script>
                            function nameF() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("nameInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[1];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            function speciality() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("specialityInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[4];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            function ssn() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("myInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[0];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            </script>
                    </div>
                    
                    <style>
                        .button {
                          display: inline-block;
                          border-radius: 10px;
                          background-color: #f66b0e;
                          border: none;
                          color: #FFFFFF;
                          text-align: center;
                          font-size: 99%;
                          padding: 2%;
                          width: 15%;
                          transition: all 0.5s;
                          cursor: pointer;
                          margin-left: 41.5%;
                            margin-bottom: 2%;
                        }
                        
                        .button span {
                          cursor: pointer;
                          display: inline-block;
                          position: relative;
                          transition: 0.5s;
                        }
                        
                        .button span:after {
                          content: '\00bb';
                          position: absolute;
                          opacity: 0;
                          top: 0;
                          right: -20px;
                          transition: 0.5s;
                        }
                        
                        .button:hover span {
                          padding-right: 25px;
                        }
                        
                        .button:hover span:after {
                          opacity: 1;
                          right: 0;
                        }
                        </style>

<a href="{{url_for('schedules')}}"><button  id="scheduals" class="button" style="vertical-align:middle" ><span> To Schedules </span></button></a>
                </div>
                    </div>







            </form>
        </section>


    {% endblock %}