{% extends "layout.html" %} {% block content%}



<!-- start section-1  -->

<div class="section-1">
  <div class="container">
    <div class="section-content">
      <div class="content">
        <div class="main-content">
          <h1 class="">MEDICINE CENTER ON THE GO!</h1>
          <p class="">
            With the new Medicine Centre app, the high-quality service that we
            are known for is now available via your smartphone.<br />Available
            on the&nbsp;<a
              href="https://itunes.apple.com/ca/app/medicine-centre/id1028581906?mt=8"
              target="_blank"
              >App Store</a
            >&nbsp;and&nbsp;<a
              href="https://play.google.com/store/apps/details?id=com.medicinecenter.android&amp;hl=en"
              target="_blank"
              >Google Play</a
            >
          </p>
          <a href="#" class="buton">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section-1  -->

{% endblock %}
