{% extends "layout.html" %} {% block content %}
<!--   Landing Section starts     -->
<section
  id="landing"
  class="landing d-flex justify-content-center align-items-center"
>
  {% if current_user.is_anonymous or current_user.user_role == 'Patient' %}
  <div class="text-center">
    <img class="E-logo mb-2" src="../static/images/E.svg.png" width="100px" />
    <h1><i>Clinical Emergency services</i></h1>
    <p class="mb-2"><i>For Emergency Conditions</i></p>
    <a class="calling_btn btn rounded-pill main-btn" href="tel:+201015134314"
      ><i class="fa-solid fa-phone"></i> Call</a
    >
  </div>
  {% elif current_user.user_role == 'Doctor'%}

      <div class="text-center">
        <img
          class="E-logo mb-2"
          src="../static/images/addac2.png"
          width="100px"
        />
        <h1><i>Add Patient</i></h1>
        <p class="mb-2"><i>Register a new patient</i></p>
        <a
          class="calling_btn btn rounded-pill main-btn"
          href="{{ url_for('registerP') }}"
          ><i class="fa-solid fa-user"></i> Register</a
        >
      </div>

      <div class="text-center">
        <img
          class="E-logo mb-2"
          src="../static/images/newreport.png"
          width="100px"
        />
        <h1><i>Create</i></h1>
        <p class="mb-2"><i>Create new report</i></p>
        <a
          class="calling_btn btn rounded-pill main-btn"

          href="{{ url_for('new_report') }}"

          ><i class="fa-solid fa-plus"></i> Create   </a
        >
      </div>


  <div class="text-center">
    <img class="E-logo mb-2" src="../static/images/search2.png" width="100px" />
    <h1><i>Search</i></h1>
    <p class="mb-2"><i>Search for report</i></p>
    <a
      class="calling_btn btn rounded-pill main-btn"
      href="{{ url_for('search_patient_main') }}"
      ><i class="fa-solid fa-search"></i> search</a
    >
  </div>
  <div class="text-center">
    <img
      class="E-logo mb-2"
      src="../static/images/patients2.png"
      width="100px"
    />
    <h1><i>Patients Table</i></h1>
    <p class="mb-2"><i>Search for a patients</i></p>
    <a
      class="calling_btn btn rounded-pill main-btn"
      href="{{ url_for('ptable') }}"
      ><i class="fa-solid fa-search"></i> Search</a
    >
  </div>
  
  {% elif current_user.user_role == 'Admin'%}
  <div class="text-center">
    <img
      class="E-logo mb-2"
      src="../static/images/patients2.png"
      width="100px"
    />
    <h1><i>Patients Table</i></h1>
    <p class="mb-2"><i>Patients Table</i></p>
    <a
      class="calling_btn btn rounded-pill main-btn"
      href="{{ url_for('ptable') }}"
      ><i class="fa-solid fa-user"></i> patients</a
    >
  </div>

  <div class="text-center">
    <img
      class="E-logo mb-2"
      src="../static/images/patients2.png"
      width="100px"
    />
    <h1><i>Doctors Table</i></h1>
    <p class="mb-2"><i>Doctors Table</i></p>
    <a
      class="calling_btn btn rounded-pill main-btn"
      href="{{ url_for('dtable') }}"
      ><i class="fa-solid fa-user"></i> Doctors</a
    >
  </div>


  <div class="text-center">
    <img class="E-logo mb-2" src="../static/images/search2.png" width="100px" />
    <h1><i>Search</i></h1>
    <p class="mb-2"><i>Search for patient or report</i></p>
    <a
      class="calling_btn btn rounded-pill main-btn"
      href="{{ url_for('search_patient_main') }}"
      ><i class="fa-solid fa-search"></i> search</a
    >
  </div>


  {% endif %}
</section>
<!--   Landing Section ends     -->
<!--  services section starts      -->
<section
  id="services"
  class="services d-flex justify-content-center align-items-center"
>
  <div class="srv card">
    <div class="card-body">
      <div class="main-title text-center mt-5 mb-5 position-relative">
        <h1 class="serv-icon mb-0" style="color: var(--blue-color)">
          <i class="fa-solid fa-hand-holding-hand"></i>
        </h1>
        <p class="title">Services</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4" style="margin-bottom: 15px">
            <div class="card w-auto">
              <div class="card-body text-center">
                <i
                  class="fa-solid fa-clock bottom-0 icon"
                  style="color: var(--orange-color); font-size: 100px"
                ></i>
                <h4
                  class="mb-3 mt-3 text-uppercase"
                  style="
                    color: var(--blue-color);
                    font-size: 20px;
                    text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 5px;
                    font-weight: bolder;
                  "
                >
                  <i
                    >Working
                    <span
                      style="
                        font-weight: bolder;
                        font-size: 30px;
                        text-shadow: var(--orange-color) 10px 10px 5px;
                      "
                      >24</span
                    >
                    Hours</i
                  >
                </h4>
                <p
                  class="p-2 p-sm-1"
                  style="
                    color: var(--blue-color);
                    font-size: 13px;
                    font-weight: bolder;
                  "
                >
                  <i
                    >Emergency Rooms are staffed 24 hours a day,seven days a
                    week by highly qualified, board-certified emergency medicine
                    physicians</i
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-bottom: 15px">
            <div class="card w-auto">
              <div class="card-body text-center">
                <i
                  class="fa-solid fa-truck-medical bottom-0 icon"
                  style="color: var(--orange-color); font-size: 100px"
                ></i>
                <h4
                  class="mb-3 mt-3 text-uppercase"
                  style="
                    color: var(--blue-color);
                    font-size: 20px;
                    text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 5px;
                    font-weight: bolder;
                  "
                >
                  <i>Highly Equipped Ambulances</i>
                </h4>
                <p
                  class="p-2 p-sm-1"
                  style="
                    color: var(--blue-color);
                    font-size: 13px;
                    font-weight: bolder;
                  "
                >
                  <i
                    >Ambulances are highly equipped to handle a range of
                    emergency illnesses and injuries for both adults and
                    children.</i
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-bottom: 15px">
            <div class="card w-auto">
              <div class="card-body text-center">
                <i
                  class="fa-solid fa-user-doctor bottom-0 icon"
                  style="color: var(--orange-color); font-size: 100px"
                ></i>
                <h4
                  class="mb-3 mt-3 text-uppercase"
                  style="
                    color: var(--blue-color);
                    font-size: 20px;
                    text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 5px;
                    font-weight: bolder;
                  "
                >
                  <i>Highly Qualified Medical Staff</i>
                </h4>
                <p
                  class="p-2 p-sm-1"
                  style="
                    color: var(--blue-color);
                    font-size: 13px;
                    font-weight: bolder;
                  "
                >
                  <i
                    >Medical Staff doctors, nurses and paramedics are highly
                    qualified to handle all emergency condition either for
                    children or adults</i
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  services section ends      -->
<!--  about section starts      -->
<section
  id="about"
  class="about d-flex justify-content-center align-items-center"
>
  <div class="Ab card text-center">
    <div class="card-body">
      <div class="main-title mt-5 mb-5 position-relative">
        <h1 class="abt-icon mb-0" style="color: var(--blue-color)">
          <i class="fa-solid fa-circle-question"></i>
        </h1>
        <p class="title">About</p>
      </div>
      <div class="abt">
        <h1
          style="color: var(--blue-color); font-size: 40px; font-weight: bolder"
        >
          Database Final Project
        </h1>
        <p
          class="ms-0 me-0"
          style="padding: 0 40px; color: var(--blue-color); font-weight: bolder"
        >
          <i
            >This website is an application on the principles of database course
            developed by team 19, 2<sup>nd</sup> stage of Systems and Biomedical
            Engineering Department, Faculty of Engineering Cairo University</i
          >
        </p>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="content col-lg-4 col-md-6">
          <div class="cnt mt-3 mb-3 mb-sm-2 mt-sm-2">
            <div class="icon-holder position-relative mt-2">
              <img
                src="../static/images/Cairo_University_Crest.png"
                width="60px"
              />
              <img
                src="../static/images/v1-removebg-preview.png"
                width="80px"
              />
            </div>
            <p
              class="mb-0"
              style="
                color: var(--blue-off-color);
                font-weight: bolder;
                font-size: 13px;
              "
            >
              <i>Cairo University Faculty of Engineering</i>
            </p>
            <p
              style="
                color: var(--blue-off-color);
                font-weight: bolder;
                font-size: 13px;
              "
            >
              <i>Systems and Biomedical Engineering Department</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  about section ends      -->

<section id="team" class="team d-flex justify-content-center align-items-center">
  <div class="tm card">
      <div class="card-body">
          <div class="main-title text-center mt-5 mb-5 position-relative">
              <h1 class="serv-icon mb-0" style="color: var(--gray-color); font-size: 100px"><i class="fa-solid fa-people-group"></i></h1>
              <p class="title">Team 19</p>
          </div>
          <div class="container ">
              <div class="row d-flex justify-content-center align-items-center">

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">Amr Mohammed</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  2</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  7</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">Mahmoud Sayed</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  2</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  18</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">adham mohamed</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  1</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  9</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">amr  kamal</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  2</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  6</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">Mahmoud Zakaria</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  2</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  25</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                      <div class="card w-auto">
                          <div class="card-body text-center">
                              <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                              <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">Mahmoud Emad</h4>
                              <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  2</span><br>
                                  <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  27</span><br></i></p>
                          </div>
                          <div class="card-footer text-muted">
                              <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                              <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3" style="margin-bottom: 15px;">
                    <div class="card w-auto">
                        <div class="card-body text-center">
                            <i class="fa-solid fa-circle-user bottom-0 icon" style="color: var(--orange-color);font-size: 100px"></i>
                            <h4 class="mt-2 text-uppercase" style="color: var(--blue-color); font-size: 20px; text-shadow: rgba(0,0,0,0.3) 10px 10px 5px; font-weight: lighter;">Youssef Ahmed</h4>
                            <p style="color: var(--blue-color); font-size: 18px; font-weight: bolder;"><i><span style="font-size: 13px;">Section:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px">  3</span><br>
                                <span style="font-size: 13px;">Bench Number:</span><span style="text-shadow: var(--orange-color) 10px 10px 5px"> 1</span><br></i></p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                            <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>



{% endblock %}
