
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0" />
    <!--    import google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,900&display=swap"
      rel="stylesheet"
    />
    <!--    -->
    <link rel="stylesheet" href="../static/styles/all.min.css" />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    {% if title %}
    <title>Emergency - {{title}}</title>
    {% else %}
    <title>Emergency Department</title>
    {% endif %}
  </head>
  <body>
    <!--   navbar starts     -->
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="../static/images/Emergency_(NGO)_logo.svg.png"
            alt="Emergency"
            height="50 px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                class="nav-link p-2 p-lg-3 active"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            {% if current_user.user_role == "Admin" %}
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="{{ url_for('registerD') }}">Register a new doctor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#about">Dashboard</a>
            </li>
            
          {% elif current_user.user_role == "Doctor" %}
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="{{ url_for('registerP') }}">Register a new Patient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="{{ url_for('patient_table') }}">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="{{ url_for('new_report') }}">Add new report</a>
            </li>
            
            {% elif current_user.user_role == "Patient" %}
    
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#about">Contact your doctor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3 d-lg-none" href="#team">Team</a>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3 d-lg-none" href="#team">Team</a>
            </li>
            
            {% endif %}
            
          {% if current_user.is_authenticated %}
          <a
            href="{{ url_for('logout') }}"
            class="log-in btn btn-primary rounded-pill main-btn ms-1"
            >Logout</a>
            {% else %}
            <a
            href="{{ url_for('login') }}"
            class="log-in btn btn-primary rounded-pill main-btn ms-1"
            >Login</a>
          {% endif %}
          
        </div>
      </div>
    </nav>
    <!--   navbar end     -->

    <div class="col-md-6 alertclass">
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif%} {% endwith %}
    </div>
    
    {% block content %}{% endblock %}

    <script src="../static/script/bootstrap.bundle.min.js"></script>
    <script src="../static/script/all.min.js"></script>
  </body>
</html>
