<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport"content="width-device-width,initial-scale=1.0"/>
    <!--    import google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/all.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="../static/styles/table.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/galary.css">
    <link rel="stylesheet" href="../static/styles/box.css">
    <title>report</title>
</head>
    <body>

        <!--   navbar starts     -->
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="../static/images/Emergency_(NGO)_logo.svg.png" alt="Emergency" height="50 px">
                </a>
                    <a href="{{ url_for('home') }}" class="log-out btn btn-primary rounded-pill main-btn ms-1"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
        </nav>
        <!--   navbar end     -->
        <!--   info     -->
        <section class="services pt-5 pb-5">
            <div class="container">
              <div class="main-title mt-5 mb-5 position-relative text-center">
                <h1 class="serv-icon mb-0">
                  <i class="fas fa-file-invoice align-items-center"></i>
                </h1>
                <p class="title ">report</p>
              </div>

                <div class="textblue">            
                    <h2>Date:<i class="textgold">12/2/2020</i></h2>
                    <h2>Doctor:<i class="textgold">tark</i> </h2>
                    <h2>Patient:<i class="textgold">mohamed</i></h2>
                    <h2>SSN:<i class="textgold">1323312312</i></h2>
                </div>
            </div>  
        </section>
        <!--end info-->

        <!--reportbox-->
        <div class="container">
            <legend class="textgold text-uppercase"> repot:</legend>
            <div class="box backwhite">
                <p class="textblue">
                    X-rays are a type of radiation that can pass through the body. They can't be seen by the naked eye and you can't feel them. As they pass through the body, the energy from X-rays is absorbed at different rates by different parts of the body. A detector on the other side of the body picks up the X-rays after they've passed through and turns them into an image.
                    Dense parts of your body that X-rays find it more difficult to pass through, such as bone, show up as clear white areas on the image. Softer parts that X-rays can pass through more easily, such as your heart and lungs, show up as darker areas.
                </p>
              
            </div>
        </div>

        <!--end reportbox-->
        
        
        <!-- gallery-->
        <section class="gallery min-vh-100">
            <div class="container-lg">
                <legend class="textgold text-uppercase"> gallery:</legend>
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col">
                        <img src="..\static\images\xray3.png" class="gallery-item" alt="gallery">
                    </div>
                    <div class="col">
                        <img src="..\static\images\xray2.png" class="gallery-item" alt="gallery">
                    </div>
                    <div class="col">
                        <img src="..\static\images\xray.png" class="gallery-item" alt="gallery">
                    </div>

                </div>
            </div>
        </section>
        <!-- end gallery-->

        <!-- Modal -->
        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered modal-lg">
             <div class="modal-content">
               <div class="modal-header">
                 <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <img src=".\static\images\xray3.png" class="modal-img" alt="modal img">
               </div>
             </div>
           </div>
        </div>
        <!-- end Modal -->

  








    


        <section class="foot">
            <footer>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p style="font-size: 15px; color: var(--gray-color)">&copy; Database course Team 19</p>
            </footer>
        </section>

        <script src="../static/script/bootstrap.bundle.min.js"></script>
        <script src="../static/script/all.min.js"></script>
        <script src="../static/script/gallery.js"></script>
    </body>
</html>