{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4 legend align-text-center">Patients Table</legend>

        <div class="content">
                <div class="content-table dtable">


                    <div class="scrollme">
                        <div class="row justify-content-center" >
                    <input type="text" id="nameInput" onkeyup="namefunc()" placeholder="Search by names..">
                        </div>
                        <div class="row justify-content-center" >
                    <input type="text" id="ssnInput" onkeyup="ssnfunc()" placeholder="Search by SSN..">
                    <input type="text" id="dateInput" onkeyup="datefunc()" placeholder="Search by Date of Registeration..">
                </div>
                        <table id="myTable" class="table table-bordered table-responsive">
                            <thead>
                                <tr >
                                    
                                    <th scope="col">SSN</th>
                                    <th scope="col">Name</th>
            
                                    <th scope="col" >Data of birth</th>
                                    <th scope="col" >Gender</th>
                                    <th scope="col" >Date of Registeration</th>
                                    <th scope="col" >Adderss</th>
                                    <th scope="col" >phone</th>
                                    <th scope="col" >Number of reports</th>
                                    <th scope="col" ></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% for patient, number_of_reports in table %}
                            
                                <tr>
                                    
                                    <td>{{patient.ssn}}</td>
                                    {% if patient.Sname %}
                                    <td>{{patient.Fname}} {{patient.Sname}}  {{patient.Lname}}</td>
                                    {% else %}
                                    <td>{{patient.Fname}}  {{patient.Lname}}</td>
                                    {% endif %}
                                    <td>{{patient.birth_date.strftime("%Y-%m-%d")}}</td>
                                    <td>{{patient.gender}}</td>
                                    <td>{{patient.date.strftime("%Y-%m-%d, %H:%M")}}</td>
                                    <td>{{patient.address}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{number_of_reports}}</td>
                                    <td><a class="calling_btn btn rounded-pill main-btn " style="color:white ;" href="{{ url_for('profile_patient', patient_id = patient.id) }} "> <i class="fa-solid fa-user"></i> Profile</a></a></td>
                                   
                                
                                {% endfor %}
                            </tbody>
                           
                        </table>
                        <script>
                            function namefunc() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("nameInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[1];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            function ssnfunc() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("ssnInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[0];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            function datefunc() {
                              // Declare variables
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("dateInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("myTable");
                              tr = table.getElementsByTagName("tr");
                            
                              // Loop through all table rows, and hide those who don't match the search query
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[4];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }
                              }
                            }
                            
                            </script>
                    </div>
                </div>
                    </div>







            </form>
        </section>


   
{% endblock %}