{% extends "layout.html" %}
{% block content %}

        <!--   info     -->
        <section class="services pt-5 pb-5">
            <div class="container align-items-center">


                <div class="card-header" style="border: none;">
              <div class="main-title mt-5 mb-5 position-relative text-center">
                <h1 class="serv-icon mb-0">
                    
                  <i class="fas fa-file-invoice align-items-center"></i>
                </h1>
                <p class="title ">patient - {{patient.Fname}}</p>
              </div>
            </div>
              <div class="card text-left">
                    <div class="card-body">
                        <div class="card">
                           
                               <div class="textblue">            
                                   <h2>Name:<i class="textgold">{{ patient.Fname }} {{ patient.Lname }}</i></h2>
                                  <h2>Department:<i class="textgold">{{patient.speciality}}</i> </h2>
                                  <h2>SSN:<i class="textgold">{{patient.ssn}}</i></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>  
        </section>
        <!--end info-->

        <!--reportbox-->
        <div class="container">
            <legend class="textgold text-uppercase"> reports:</legend>
            
            
            <!--If the patient didnt have reports to show-->
            {% if not reports_names %}
            <div class="box backwhite">
                There is no reports to show for {{ patient.Fname }}  {{ patient.Lname }}
              
            </div>
            <!--If he had reports to show-->
            {% else %}
            <div class="content-table ">


                <div class="scrollme">
                   
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr >
                                
                                <th scope="col">Title</th>
                                <th scope="col">Date</th>
                                <th scope="col">Doctor Name</th>
                                <th scope="col">Doctor Phone</th>
                                <th scope="col"></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                        {% for report, name, phone in reports_names %}
                        
                        
                            <tr>
                                
                                <td>{{report.title}}</td>
                                <td>{{report.date.strftime("%Y-%m-%d, %H:%M")}}</td>
                                <td>{{name}}</td>
                                
                                <td>
                                    
                                        <a class="calling_btn btn rounded-pill main-btn " style="color:white ;" href="tel:+2{{phone}} "> <i class="fa-solid fa-phone"></i> {{phone}}</a>
                                    
                                        
                                        
                                    </td>
                                    <td><a class="calling_btn btn rounded-pill main-btn " style="color:white ;" href="{{url_for('report', report_id=report.id)}} "> <i class="fa-solid fa-paste"></i> Read</a></td>

                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% endif %}
        </div>

        <!--end reportbox-->
        
    {% endblock %}