<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport"content="width-device-width,initial-scale=1.0"/>
    <!--    import google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/all.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Login Page</title>
</head>
    <body>

        <!--   navbar starts     -->
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="../static/images/Emergency_(NGO)_logo.svg.png" alt="Emergency" height="50 px">
                </a>
                    <a href="{{ url_for('home') }}" class="log-out btn btn-primary rounded-pill main-btn ms-1"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
        </nav>
        <!--   navbar end     -->

        <div class="col-md-6 alertclass">
            {% with messages = get_flashed_messages(with_categories = true) %} {% if
            messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %} {% endif%} {% endwith %}
          </div>


     <!--start section -->  



     <section id="login" class="login">
        <div class="card text-center justify-content-center" style="max-width:316px ;">
            <div class="card-header" style="border: none;">
                <img src="../static/images/E.svg.png">
                <h4 class="text-uppercase">Reset Password</h4>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body ">
                        <form method='POST'>
                            {{ form.hidden_tag() }}
                            <div class="mb-3 ">
                    
                            {{ form.old_password.label(class="float-start" ,style="color: var(--gray-color)") }}
                            {% if form.old_password.errors %}
                            {{ form.old_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                                {% else %}
                                {{ form.old_password(class="uid mb-3" , style="width: 260px") }}
                                {% endif %}
                                



                            </div>
                            <div class="mb-3">

                                {{ form.new_password.label(class="float-start" ,style="color: var(--gray-color)") }}
                            {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                                {% else %}
                                {{ form.new_password(class="uid mb-3" , style="width: 260px") }}
                                {% endif %}
                            </div>
                            <div class="mb-3">

                                
                                {{ form.confirm_new_password.label(class="float-start" ,style="color: var(--gray-color)") }}
                            {% if form.confirm_new_password.errors %}
                            {{ form.confirm_new_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                                {% else %}
                                {{ form.confirm_new_password(class="uid mb-3" , style="width: 260px") }}
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-primary text-uppercase">Reset Password</button>
                            




                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted" style="border: none;">
                <img src="../static/images/Cairo_University_Crest.png" style="width: 20px;">
                <img src="../static/images/v1-removebg-preview.png" style="width: 27px;">
            </div>
        </div>
    </section>





        <section class="foot">
            <footer>
                <ul class="social_icon">
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p style="font-size: 15px; color: var(--gray-color)">&copy; Database course Team 19</p>
            </footer>
        </section>

        <script src="../static/script/bootstrap.bundle.min.js"></script>
        <script src="../static/script/all.min.js"></script>
    </body>
</html>