{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/table.css">
<form method='POST'>
    

    <div class="input-group">
        <input type="search" name="search" class="form-control rounded" placeholder="Search by SSN" aria-label="Search" aria-describedby="search-addon">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>

  
</form>



{% if patient %}
{% for report in patient.report %}

{{report}}

{% endfor %}

{% endif %}




{% endblock %}