<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport"content="width-device-width,initial-scale=1.0"/>
    <!--    import google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/all.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <!--    -->
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Signup a patient</title>
</head>
    <body>

        <!--   navbar starts     -->
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="../static/images/Emergency_(NGO)_logo.svg.png" alt="Emergency" height="50 px">
                </a>
                    <a href="{{ url_for('home') }}" class="log-out btn btn-primary rounded-pill main-btn ms-1"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
        </nav>
        <!--   navbar end     -->


     <!--start section -->  



     <section id="login" class="login">
        <div class="card text-center">
            <div class="card-header" style="border: none;">
                <img src="../static/images/E.svg.png">
                <h4 class="text-uppercase">New Patient</h4>
                <p style="color: white; font-size: 13px;">Please complete this form</p>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-lg-6">
                                        <div class="mb-3">
                                            <!--first name label--> 
                                            {{ form.Fname.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.Fname.errors %}
                                            <!--field if invalid--> 
                                            {{ form.Fname(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Fname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                         <!--field if valid--> 
                                            {{ form.Fname(class="form-control") }}
                                            {% endif %}



                                        </div>
                                        <div class="mb-3">
                                            
                                            <!--first name label--> 
                                            {{ form.Sname.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            
                                            <!--field--> 
                                            {{ form.Sname(class="form-control") }}
                                            
                                        </div>



                                        <div class="mb-3">
                                            <!--label for Lname--> 
                                            {{ form.Lname.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.Lname.errors %}
                                            <!--if invalid-->                                            

                                            {{ form.Lname(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Lname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                        <!--if valid-->
                                            {{ form.Lname(class="form-control") }}
                                            {% endif %}

                                            <!--etc for every other label and field-->>
                                            
                                        </div>
                                        <div class="mb-3">
                                            {{ form.ssn.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.ssn.errors %}
                                            {{ form.ssn(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.ssn.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.ssn(class="form-control") }}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.email.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.email.errors %}
                                            {{ form.email(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control", placeholder="leave empty for a default email") }}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.gender.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            
            
                                            {% for subfield in form.gender %}
    
                                            {{ subfield(class="form-check form-check-inline") }}
                                            {{ subfield.label }}
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-6">
                                        <div class="mb-3">
                                            {{ form.birth_date.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}

                                            {{ form.birth_date(class="form-control") }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.address.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}

                                            {{ form.address(class="form-control") }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.phone.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.phone.errors %}
                                            {{ form.phone(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.phone.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.phone(class="form-control") }}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.password.errors %}
                                            {{ form.password(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.password(class="form-control", placeholder="leave empty for a default password") }}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.confirm_password.label(class="form-label float-start" ,style="font-weight: bolder; color: var(--blue-color);") }}
                                            {% if form.confirm_password.errors %}
                                            {{ form.confirm_password(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.confirm_password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.confirm_password(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ form.submit(class="btn btn-primary text-uppercase butto") }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted" style="border: none;">
                <img src="../static/images/Cairo_University_Crest.png" style="width: 20px;">
                <img src="../static/images/v1-removebg-preview.png" style="width: 27px;">
            </div>
        </div>
    </section>




















        <section class="foot">
            <footer style="margin-bottom:-201px;">
                <ul class="social_icon">
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p style="font-size: 15px; color: var(--gray-color)">&copy; Database course Team 19</p>
            </footer>
        </section>

        <script src="../static/script/bootstrap.bundle.min.js"></script>
        <script src="../static/script/all.min.js"></script>
    </body>
</html>