:root {
  --main-color: #73a3de;
  --second-main-color: #466c9b;
}

* {
  font-family: "Mrs Saint Delafield", cursive;
  font-family: "Oswald", sans-serif;
}

.navbar {
  height: 70px;
  background-color: none;
  padding: 0;
  transition: all 0.6s ease-in-out;
}

.container .logo h2 {
  color: var(--main-color);
}

.nav-1 ul {
  list-style: none;
  margin: 0;
}
.nav-1 ul li button {
  padding: 12px 25px;
  font-size: 14px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  border-radius: 25px;
}
.nav-1 ul li button:hover {
  background-color: var(--main-color);
}
.nav-1 ul li {
  margin: 0 30px 0 0;
}
.nav-1 ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
}
.nav-1 ul li a:hover {
  color: var(--main-color);
}
.nav-1 ul li a.active {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .nav-1 {
    display: none;
  }
  .section-1 .banner-text {
    width: 100%;
  }
}
.offcanvas ul li button {
  padding: 12px 25px;
  font-size: 14px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  border-radius: 25px;
}

.offcanvas ul li button:hover {
  background-color: var(--main-color);
}
.offcanvas ul {
  list-style: none;
}
.offcanvas ul li {
  margin: 0 30px 0 0;
  margin-top: 30px;
}

.offcanvas ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
}
.offcanvas ul li a:hover {
  color: var(--main-color);
}
.offcanvas ul li a.active {
  color: var(--main-color);
}

.offcanvas {
  width: 250px;
}
.modal-backdrop {
  background-color: var(--main-color);
}

.white-background {
  background: white;
}

/* start section-1 */

.section-1 {
  background-image: url(../static/images/background.jpeg);
  background-position: 50% 50%;
  color: black;
  object-fit: cover;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 .container .section-content {
  min-height: 788px;
  pointer-events: none;
  position: relative;
  width: 1140px;
  /* margin: 0 auto; */
}

.section-1 .container .section-content .content {
  width: 855px;
  min-height: 448px;
  text-align: left;
  display: flex;
  position: relative;
  padding: 250px 0 0 0;
}

.section-1 .container .section-content .content .main-content {
  /* padding-left: 16px; */
  position: relative;
  flex: 1;
  max-width: 100%;
}

.section-1 .container .section-content .content .main-content h1 {
  margin: 35px 315px 0 20px;
  position: relative;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3e4a59 !important;
  word-wrap: break-word;
  position: relative;
}
.section-1 .container .section-content .content .main-content p {
  margin: 15px 359px 0 20px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
  position: relative;
}

.section-1 .container .section-content .content .main-content .buton {
  color: white !important;
  background-color: var(--main-color) !important;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 45px;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
  text-decoration: none;
  cursor: pointer;
}
.section-1 .container .section-content .content .main-content .buton:hover {
  background-color: var(--second-main-color);
}
